<header id="header" class="">
	<nav>
		<ul>
			<li><a href="/admin" title="">Admin</a></li>
		</ul>
	</nav>
</header><!-- /header -->
	
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul class="pages">
	{{#each pages}}
		<li><a href="#">{{title}}</a></li>		
	{{/each}}
</ul>


{{#each posts}}
	<div class="post-wrapper">
		<h2>{{title}}</h2>
		<p>{{post}}</p>
	</div>
{{/each}}